In [81]:
#26th feb assignment
import pandas as pd
import numpy as np

In [82]:
list_ = [ '1' , '2' , '3' , '4' , '5' ]
array_list = np.array(object = list_)

In [92]:
#1
print(f"The data type of python list 'list_' is {type(list_)}\nThe data type of numpy array 'array_list' is {type(array_list)}")

The data type of python list 'list_' is <class 'list'>
The data type of numpy array 'array_list' is <class 'numpy.ndarray'>

In [85]:
#2
list_df = []
np_array_df = []
for ele in list_:
    list_df.append(type(ele))
for ele in array_list:
    np_array_df.append(type(ele))
ans = {'list_ elements data type':list_df,"np array elements data type":np_array_df}
df = pd.DataFrame(ans)
df['elements'] = list_
df.set_index('elements',inplace=True)
df

         list_ elements data type np array elements data type
elements
1                   <class 'str'>        <class 'numpy.str_'>
2                   <class 'str'>        <class 'numpy.str_'>
3                   <class 'str'>        <class 'numpy.str_'>
4                   <class 'str'>        <class 'numpy.str_'>
5                   <class 'str'>        <class 'numpy.str_'>

In [86]:
#3
array_list = np.array(object = list_, dtype = int)
list_df1 = []
np_array_df1 = []
for ele in list_:
    list_df1.append(type(ele))
for ele in array_list:
    np_array_df1.append(type(ele))
ans = {'list_ elements data type':list_df1,"np array elements data type":np_array_df1}
df1 = pd.DataFrame(ans)
df1['elements'] = list_
df1.set_index('elements',inplace=True)
df1
# change in data type of np array elements has happened as shown in the below dataframe

         list_ elements data type np array elements data type
elements
1                   <class 'str'>       <class 'numpy.int32'>
2                   <class 'str'>       <class 'numpy.int32'>
3                   <class 'str'>       <class 'numpy.int32'>
4                   <class 'str'>       <class 'numpy.int32'>
5                   <class 'str'>       <class 'numpy.int32'>

In [87]:
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)

In [91]:
#4
print(f"The shape of num_array is {num_array.shape}\nThe size of num_array is {num_array.size}")

The shape of num_array is (2, 3)
The size of num_array is 6

In [95]:
#5
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [97]:
#6
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])